### 1. Data Import and Preparation

In [1]:
import pandas as pd

In [2]:
test = pd.read_csv("./dataset/test.csv")
train = pd.read_csv("./dataset/train.csv")

### 2. Exploratory Data Analysis

In [9]:
train.shape
test.shape

(2933, 19)

In [4]:
test.shape

(2933, 19)

In [5]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1955 entries, 0 to 1954
Data columns (total 20 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   id                        1955 non-null   int64
 1   Age                       1861 non-null   float64
 2   TypeofContact             1945 non-null   object
 3   CityTier                  1955 non-null   int64
 4   DurationOfPitch           1853 non-null   float64
 5   Occupation                1955 non-null   object
 6   Gender                    1955 non-null   object
 7   NumberOfPersonVisiting    1955 non-null   int64
 8   NumberOfFollowups         1942 non-null   float64
 9   ProductPitched            1955 non-null   object
 10  PreferredPropertyStar     1945 non-null   float64
 11  MaritalStatus             1955 non-null   object
 12  NumberOfTrips             1898 non-null   float64
 13  Passport                  1955 non-null   int64
 14  PitchSatisfactionScore    1955 non-null   int64
 15  OwnCar                    1955 non-null   int64
 16  NumberOfChildrenVisiting  1928 non-null   float64
 17  Designation               1955 non-null   object
 18  MonthlyIncome             1855 non-null   float64
 19  ProdTaken                 1955 non-null   int64
dtypes: float64(7), int64(7), object(6)
memory usage: 305.6+ KB

In [10]:
train.isnull().sum()

id                            0
Age                          94
TypeofContact                10
CityTier                      0
DurationOfPitch             102
Occupation                    0
Gender                        0
NumberOfPersonVisiting        0
NumberOfFollowups            13
ProductPitched                0
PreferredPropertyStar        10
MaritalStatus                 0
NumberOfTrips                57
Passport                      0
PitchSatisfactionScore        0
OwnCar                        0
NumberOfChildrenVisiting     27
Designation                   0
MonthlyIncome               100
ProdTaken                     0
dtype: int64

In [11]:
test.isnull().sum()

id                            0
Age                         132
TypeofContact                15
CityTier                      0
DurationOfPitch             149
Occupation                    0
Gender                        0
NumberOfPersonVisiting        0
NumberOfFollowups            32
ProductPitched                0
PreferredPropertyStar        16
MaritalStatus                 0
NumberOfTrips                83
Passport                      0
PitchSatisfactionScore        0
OwnCar                        0
NumberOfChildrenVisiting     39
Designation                   0
MonthlyIncome               133
dtype: int64